Options +FollowSymLinks
RewriteEngine on
RewriteBase /
#RewriteCond %{HTTP_HOST} !^domain.com$ [NC]
#RewriteRule ^(.*)$ http://domain.com/$1 [L,R=301]

RewriteRule ^admin$ admin.php [L,QSA]
RewriteRule ^home$ home.php [L,QSA]
RewriteRule ^buyersDetails$ buyersDetails.php [L,QSA]
RewriteRule ^index$ index.php [L,QSA]
RewriteRule ^expenditures$ expendituresScreen.php [L,QSA]
RewriteRule ^cashCollection$ cashCollectionScreen.php [L,QSA]
RewriteRule ^bills$ getBills.php [L,QSA]
RewriteRule ^sms$ smsScreen.php [L,QSA]
RewriteRule ^advance$ addAdvanceScreen.php [L,QSA]
RewriteRule ^balancesheet$ balanceSheet.php [L,QSA]
RewriteRule ^sell$ addSoldData.php [L,QSA]
RewriteRule ^beatpaper$ printBeatPaper.php [L,QSA]
RewriteRule ^kisanbalance$ viewBillsByFarmer.php [L,QSA]
RewriteRule ^sales$ viewSalesByName.php [L,QSA]
RewriteRule ^notpaidbills$ notPaidBillsScreen.php [L,QSA]
RewriteRule ^paidBills$ paidBills.php [L,QSA]
RewriteRule ^shops$ shopsScreen.php [L,QSA]
RewriteRule ^summary$ summary.php [L,QSA]
RewriteRule ^logout$ logout.php [L,QSA]
RewriteRule ^bags$ bagsData.php [L,QSA]
RewriteRule ^settings$ settings.php [L,QSA]
RewriteRule ^printbillkisan$ getPrintBillScreen.php [L,QSA]
RewriteRule ^kisans$ kisan.php [L,QSA]
RewriteRule ^icf$ icf.php [L,QSA]
RewriteRule ^localSale$ localSale.php [L,QSA]
RewriteRule ^localSaleBills$ viewBillsByLocalSale.php [L,QSA]




allow from all
allow from 127.0.0.1

<IfModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
</IfModule>

<IfModule mod_gzip.c>
mod_gzip_on No
</IfModule>

ErrorDocument 404 /404.php

