table {
    border-collapse: collapse;
    ##width: 100%;
}

th, td {
    text-align: center;
    padding: 5px;
}


th {
    background-color: #4CAF50;
    color: white;
}
.tr:nth-child(even){background-color: #f2f2f2}
##.tr:hover{background-color:#c1ccdd}

.box{
	border:1px solid black;
}

.table1 {
    border-collapse: collapse;
	width: 100%;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #D4E7F3;
    border-right: 2px solid #7E7E7E;
    border-bottom: 2px solid #010101;
}

