# Backend Environment Variables (Set these on Render Web Service Environment)
PORT=5000
APP_ENV=production
SECRET_KEY=your_random_production_secret_key_here
JWT_SECRET_KEY=your_random_production_secret_key_here
DATABASE_URL=postgres://username:password@ep-host.aws.neon.tech/neondb?sslmode=require
GOOGLE_CLIENT_ID=765546655855-8601r8pfg2qnaa3pl385mh8tcngs6f17.apps.googleusercontent.com
CORS_ALLOWED_ORIGINS=https://agri-commission-manager.vercel.app
